<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AirlineFrameworkSuite">
    <listeners>
        <listener class-name="com.fasila.automation.listeners.ExtentTestListener"/>
    </listeners>
    <test name="UITests">
        <classes>
            <class name="com.fasila.automation.tests.FlightBookingTest"/>
        </classes>
    </test>
    <test name="APITests">
        <classes>
            <class name="com.fasila.automation.api.OpenSkyApiTest"/>
        </classes>
    </test>
</suite>
